{% extends "base.html" %}
{% block headinclude %}
{% endblock %}
{% block content %}
<!-- <div class="container bggr">
        <h1 class="display-3">Krishna Medico</h1>
        <p class="lead">Beside Das Clinic, Opp. SBI ATM, Kadirabad Chowk, New Bus Stand Darbhanga.</p>
</div> -->

<!-- <div class="alert alert-success alert-dismissible" role="alert" >
    <strong>Well Done!</strong> Successfully logged in as {{ session["username"] }}.
</div> -->

<div class="container">
      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2 class="display-3">Krishna Medico</h2>
          <p>Your local medicine shop.</p>
          <ul>
            <li>
              <strong>Emergency Service Available.</strong>
            </li>
            <li>All day open, 8:30AM to 9:00PM</li>
            <li>We deals in Allopathic medicines.</li>
            <li>Various Health Suppliments are also available.</li>
            <li>An unavailable medicine requested can also be generated.</li>
          </ul>
          <p>A famous <strong>Das Clinic</strong> is located just beside our shop.</p>
          <p>At Das Clinic, a high quality of care is provided by our gynecologist Dr. Nutan Das and Dr. Dinesh Thakur.Our specialty doctors serve patients from various rural to urban areas of darbhanga.</p>
        </div>
        <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d532.2974406229865!2d85.8910647!3d26.1688163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39edb82b1ec02dd9%3A0xd663739cab92dcaf!2sKrishna+Medico!5e0!3m2!1sen!2sin!4v1509830526822" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          <!-- <img class="img-fluid rounded" src="http://placehold.it/700x450" alt=""> -->
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>You are welcome to visit our shop anytime between in opening hours.</br>
          Please confirm the availability of doctors/beds before visiting <strong>Das Clinic.</strong> </p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-primary btn-block" href="#">9874563210</a>
        </div>
      </div>

    </div>
<!-- /.container -->
<!-- 
<div class="container bggr">
    <h1 class="display-7">Operating Hours: 9AM to 8:30PM All Day</h1>
    <p class="lead">Please enter your phone and email id on the next payment page, on which you will get payment status.</p>
</div>
<div class="container bggr">
    <h1 class="display-7">Medicines we deal in.</h1>
    <p class="lead">We deal in all kinds of allopathic medicine and various health suppliments. A new product can also be requested from us.</p>
</div>

<div class="container bggr">
    <h1 class="display-8">Note:</h1>
    <p class="lead"> We don't dispense Schedule X, Schedule H1 Medicines, Antibiotics and Psychotropic Substances without a valid prescription.</p>
</div>
<div class="container bggr">
    <h1 class="display-8">Reach Us:</h1>
    <p class="lead"><a href="https://www.google.com/maps/place/Krishna+Medico/@26.1688163,85.888876,17z/data=!3m1!4b1!4m5!3m4!1s0x39edb82b1ec02dd9:0xd663739cab92dcaf!8m2!3d26.1688163!4d85.8910647">Google Maps Direction</a></p>
    <p class="lead">Phone or whatsApp: 9234873474</p>
  </div> -->

{% endblock %}
